In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests

In [41]:
customer = pd.read_csv('support_ticket_data.csv', encoding='latin1')
police = pd.read_csv('SPD_officer_involved_shooting_data.csv')
customer.head()

,SupportTicketID,CustomerID,DateCreated,DateCompleted,Escalated,Theme,Theme_Desc,Text
0,16582,10007217,30/06/2018,4/7/2018,1,price,cost of the goods to customers. compare to co...,A screwdriver costs over a hundred dollars? Wh...
1,13830,10005984,15/07/2018,18/07/2018,0,speed,consider the delivery speed.,Anyway that I can rush overnight ship my order?
2,53794,10022738,14/10/2018,18/10/2018,0,features,"product features, website features, checkout f...",Are the shelves removable from the wine fridge...
3,95013,10040142,1/11/2018,10/11/2018,0,price,cost of the goods to customers. compare to co...,Are there any Christmas sales coming up?
4,32660,10013924,6/6/2018,6/6/2018,1,design,"product design, website design",Are there any other colors in the bathroom sin...

In [42]:
police.head()

,FRB #,Incident Number,Date / Time,Blurred Address,Longitude,Latitude,City,State,Rank,Officer Gender,...,Subject Race,Subject DOB,Subject Age,Subject Weapon,Type of Weapon,Fatal,On-duty,Disposition,Officer Disciplined?,Summary
0,FRB 05-01,20050000118193,03/21/2005 06:28:00 PM,65XX BLOCK OF RAINIER AV S,-122.273741,47.543815,Seattle,WA,Officer,Male,...,Asian,1975-11-03T00:00:00.000,29,Yes,Knife,Yes,Yes,Missing,Missing,"On March 21st, 2005, at approximately 5:20 P.M..."
1,FRB 05-03,20050000174022,04/29/2005 03:30:00 AM,65XX BLOCK OF 1 AV S,-122.334513,47.544177,Seattle,WA,Officer,Male,...,White,1969-08-02T00:00:00.000,36,No,NaN,Yes,Yes,Justified,No,"On April 29th, 2005, at approximately 3:35 A.M..."
2,FRB 05-04,20050000256303,06/20/2005 11:30:00 AM,7XX BLOCK OF STEWART ST,-122.335725,47.614620,Seattle,WA,Officer,Male,...,White,1952-11-15T00:00:00.000,53,Yes,"Grenade, backpack reported to have explosives",Yes,Yes,Justified,No,"On June 20th, 2005, at approximately 11:30 A.M..."
3,FRB 05-04,20050000256303,06/20/2005 12:30:00 PM,7XX BLOCK OF STEWART ST,-122.335725,47.614620,Seattle,WA,Officer,Male,...,White,1952-11-15T00:00:00.000,53,Yes,"Grenade, backpack reported to have explosives",Yes,Yes,Justified,No,"On June 20th, 2005, at approximately 11:30 A.M..."
4,FRB 05-05,20050000286240,07/08/2005 01:48:00 PM,16 AV / E UNION ST,-122.311474,47.612908,Seattle,WA,Officer,Male,...,Black or African American,1957-01-28T00:00:00.000,48,Yes,Screwdriver,No,Yes,Justified,No,"On July 8th, 2005, at approximately 1:45 P.M.,..."

In [43]:
customer['DateCreated'] = pd.to_datetime(customer['DateCreated'], format="%d/%m/%Y")
customer['DateCompleted'] = pd.to_datetime(customer['DateCompleted'], format="%d/%m/%Y")
customer.head()

,SupportTicketID,CustomerID,DateCreated,DateCompleted,Escalated,Theme,Theme_Desc,Text
0,16582,10007217,2018-06-30,2018-07-04,1,price,cost of the goods to customers. compare to co...,A screwdriver costs over a hundred dollars? Wh...
1,13830,10005984,2018-07-15,2018-07-18,0,speed,consider the delivery speed.,Anyway that I can rush overnight ship my order?
2,53794,10022738,2018-10-14,2018-10-18,0,features,"product features, website features, checkout f...",Are the shelves removable from the wine fridge...
3,95013,10040142,2018-11-01,2018-11-10,0,price,cost of the goods to customers. compare to co...,Are there any Christmas sales coming up?
4,32660,10013924,2018-06-06,2018-06-06,1,design,"product design, website design",Are there any other colors in the bathroom sin...

In [44]:
customer = customer.sort_values(by='DateCreated')
customer['DeltaTime'] = (customer['DateCompleted'] - customer['DateCreated']).dt.days
display(customer.head())
display(customer.tail())

,SupportTicketID,CustomerID,DateCreated,DateCompleted,Escalated,Theme,Theme_Desc,Text,DeltaTime
210,10926,10004738,2018-05-01,2018-05-01,0,features,"product features, website features, checkout f...",My purchase history is not showing my most rec...,0
36,17890,10007771,2018-05-01,2018-05-04,0,price,cost of the goods to customers. compare to co...,Do these garden gnomes come with money inside ...,3
116,89230,10037975,2018-05-02,2018-05-02,0,support,"tech support, customer support, product support",I need help canceling my order. Can I speak to...,0
262,54500,10023036,2018-05-03,2018-05-04,0,speed,consider the delivery speed.,The standard delivery option does not show me ...,1
280,25307,10010812,2018-05-04,2018-05-07,0,speed,consider the delivery speed.,What are the charges for the different deliver...,3

,SupportTicketID,CustomerID,DateCreated,DateCompleted,Escalated,Theme,Theme_Desc,Text,DeltaTime
220,70723,10029944,2018-11-28,2018-11-29,0,price,cost of the goods to customers. compare to co...,Please increase the amount of sales and promot...,1
174,85477,10036373,2018-11-29,2018-12-03,0,speed,consider the delivery speed.,it took 15 days for my kettle chips to arrive....,4
159,77934,10033061,2018-11-30,2018-12-03,0,price,cost of the goods to customers. compare to co...,"Instead of recieving a refund, can I get store...",3
324,101069,10041114,2018-12-01,2018-12-06,0,reliability,"product reliability, website reliability, deli...",Your website keeps crashing and forgetting eve...,5
148,108385,10042279,2018-12-01,2018-12-10,1,features,"product features, website features, checkout f...",I wish there was a way to cancel my order afte...,9

In [45]:
theme2delta = customer.groupby('Theme')[['Theme', 'DeltaTime']].mean()
theme2delta.head()

             DeltaTime
Theme
design        2.500000
features      3.122449
other         3.923077
price         2.728814
reliability   2.935484

In [46]:
from azure.ai.textanalytics import TextAnalyticsClient
from azure.core.credentials import AzureKeyCredential

key = "b02ca1f46d644ad38e9732380e4ea268"
endpoint = "https://customer-text.cognitiveservices.azure.com/"

def authenticate_client():
    ta_credential = AzureKeyCredential(key)
    text_analytics_client = TextAnalyticsClient(
            endpoint=endpoint, credential=ta_credential)
    return text_analytics_client

client = authenticate_client()

In [65]:
def key_phrase_extraction(client, df):
    train_data = pd.DataFrame(df.reset_index()[['Theme']])
    responses = client.extract_key_phrases(documents = list(df['Text']))
    responses = [r.key_phrases for r in responses]
    all_words = []
    for res in responses:
        for w in res:
            if w not in all_words:
                all_words.append(w)
    keywords_bag = np.array([[1 if w in res else 0 for w in all_words] for res in responses])
    keyphrases = pd.DataFrame(columns=all_words, data=keywords_bag)
    if len(keyphrases) == len(train_data):
        train_data = pd.concat([train_data, keyphrases], axis=1)
        return train_data
    else:
        print('error ' + len(responses) - len(train_data))
    
        
train_data = key_phrase_extraction(client, customer.iloc[:10])
x = train_data.drop(columns=['Theme'])
y = pd.get_dummies(train_data['Theme'])
display(x)
display(y)

,purchase history,recents purchases,garden gnomes,money,Lowe's,help,order,tech support,standard delivery option,recieve,...,way,favorite products,insurrance,donkeys,website,chance,Delivery,item,Devlivery speed,molasses
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,0,0,0,0
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

   features  price  reliability  speed  support
0         1      0            0      0        0
1         0      1            0      0        0
2         0      0            0      0        1
3         0      0            0      1        0
4         0      0            0      1        0
5         1      0            0      0        0
6         0      0            1      0        0
7         0      0            0      1        0
8         0      0            0      1        0
9         0      0            0      1        0